.btn {
    display: flex;
    justify-content: center;
    min-width: 129px;
    height: 18px;
    font-family: Effra, serif;
    font-size: 18px;
    border-radius: 40px;
}

.btn-light {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--black);
    background-color: var(--offWhite);
}

.btn-light:hover {
    background-color: var(--gray3);
}

.btn-standard {
    width: fit-content;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    color: var(--black);
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--button-hover);
}

.btn-dark {
    color: var(--offWhite);
    background-color: var(--black);
}

.btn-dark:hover {
    background-color: var(--black2);
}

.btn-toggle {
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: var(--offWhite);
    width: 104px;
    height: 52px;
    border: none;
    border-radius: 99px;
}

.btn-toggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    width: 36px;
    height: 36px;
    border-radius: 99px;
    margin: 8px;
    transition: all 1s;
}

.btn-toggle:checked::after {
    transform: translateX(52px);
}

.left-option {
    color: var(--offWhite);
    transition: all 1s;
}

.right-option {
    color: var(--gray1);
    transition: all 1s;
}

.btn-toggle:checked ~ .left-option {
    color: var(--gray1);
}

.btn-toggle:checked ~ .right-option {
    color: var(--offWhite);
}


@media screen and (max-width: 1024px) {
    .btn-standard {
        padding: 12px 24px;
        height: 14px;
        font-size: 14px;
        line-height: 19.6px;
    }

    .btn-toggle {
        height: 44px;
        -webkit-tap-highlight-color: transparent;
    }

    .btn-toggle::after {
        width: 28px;
        height: 28px;
    }

    .btn-toggle:checked::after {
        transform: translateX(60px);
    }
}