.btn {
    display: flex;
    justify-content: center;
    width: 129px;
    height: 18px;
    font-family: Effra, serif;
    font-size: 18px;
    border-radius: 40px;
}

.btn.btn-light {
    width: 129px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--black);
    background-color: var(--offWhite);
}

.btn.btn-standard {
    width: fit-content;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
}

a.btn  {
    color: var(--black);
    background-color: var(--offWhite);
    text-decoration: none;
}

.btn.btn-standard.btn-primary {
    color: var(--black);
    background-color: var(--primary);
}

.btn.btn-primary:hover {
    background-color: var(--button-hover);
}

.btn.btn-standard.btn-dark {
    color: var(--offWhite);
    background-color: var(--black);
}

.btn-toggle {
    position: relative;
    background-color: var(--offWhite);
    width: 104px;
    height: 52px;
    border: none;
    border-radius: 99px;
}

.btn-toggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    width: 36px;
    height: 36px;
    border-radius: 99px;
    margin: 8px;
}


@media screen and (max-width: 1024px) {
    .btn.btn-standard {
        padding: 12px 24px;
        height:14px;
        font-size: 14px;
        line-height: 19.6px;
    }

    .btn-toggle {
        height: 44px;
    }

    .btn-toggle::after {
        width: 28px;
        height: 28px;
    }
}