.footer {
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: var(--offWhite);
}

.footer > .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 31px;
}

.footer > .logo-wrapper .label {
    font-family: Inter, serif;
    font-size: 24px;
    margin-left: 10px;
}

.footer > .logo-wrapper .logo {
    width: 40px;
    height: 40px;
}

.footer > .links-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    list-style: none;
    padding: 0;
}

.footer > .links-wrapper .link {
    text-decoration: none;
    color: var(--black);
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .footer > .logo-wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .footer > .links-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        margin-bottom: 80px;
    }

    .footer > .links-wrapper .link {
        text-decoration: none;
        color: var(--black);
    }
}