.header {
    background-color: var(--black);
    overflow: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 29px 80px;
}

.nav-bar .first-column {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    width: 40px;
    height: 40px;
}

.nav-bar .label {
    margin-left: 10px;
    margin-right: 5px;
    font-family: Inter, serif;
    font-size: 24px;
    line-height: 24px;
    color: var(--offWhite);
}

.nav-bar > .nav-menu {
    display: flex;
    justify-content: space-between;
    column-gap:40px;
    padding: 0;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    color: var(--offWhite);
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.nav-bar > .last-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 213px;
}

.mobile-menu {
    display: none;
}

.mobile-menu > .close {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header {
        position: relative;
        overflow: visible;
    }

    .nav-bar {
        flex-direction: column;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: fit-content;
    }

    .nav-bar .label {
        display: none;
    }

    .nav-bar .first-column {
        width: 100%;
    }

    .nav-bar {
        margin: 0;
        padding: 18px 24px;
        background-color: var(--black);
    }

    .nav-bar > .nav-menu {
        display: none;
        flex-direction: column;
        gap: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .nav-bar .last-column {
        display: none;
        flex-direction: column;
        gap: 40px;
    }

    .nav-bar > .nav-menu.active {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }

    .logo > .mobile-menu .open {
        display: block;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-right: 18px;
        width: 24px;
        height: 24px;
    }

    .logo > .mobile-menu > .close {
        margin-top: 37px;
        margin-bottom: 37px;
        margin-right: 18px;
        width: 14px;
        height: 14px;
    }

    .nav-bar > .nav-menu.active ~ .last-column {
        display: flex;
        margin-bottom: 80px;
    }

    .lock-screen {
        filter: brightness(0.5);
    }

    .mobile-menu.active > .open {
        display: none;
    }

    .mobile-menu.active > .close {
        display: block;
    }

    .nav-item {
        text-align: center;
    }
}